    <section class="background-gray-lightest">  
      <div id="contact" class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="box-simple">
              <div class="icon"><i class="pe-7s-map-2"></i></div>
              <h4 class="heading margin-bottom">Address</h4>
              <p>13/25 New Avenue<br>New Heaven, 45Y 73J<br>England, <strong>Great Britain</strong></p>
            </div>
            <div class="box-simple">
              <div class="icon"><i class="pe-7s-phone"></i></div>
              <h4 class="heading margin-bottom">Call center</h4>
              <p class="text-muted">This number is toll free if calling from Great Britain otherwise we advise you to use the electronic form of communication.</p>
              <p><strong>+33 555 444 333</strong></p>
            </div>
            <div class="box-simple">
              <div class="icon"><i class="pe-7s-mail-open"></i></div>
              <h4 class="heading margin-bottom">Electronic support</h4>
              <p class="text-muted">Please feel free to write an email to us or to use our electronic ticketing system.</p>
              <ul>
                <li><strong><a href="mailto:">info@fakeemail.com</a></strong></li>
                <li><strong><a href="#">
                      Ticketio
                       - our ticketing support platform</a></strong></li>
              </ul>
            </div>
          </div>
          <div  class="col-lg-7 col-lg-offset-1">
            <div class="icon"><i class="pe-7s-pen"></i></div>
            <h4 class="heading margin-bottom">Contact form</h4>
            <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.</p>
            <form name="contactForm">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input  id="firstname" type="text" class="form-control" ng-model= "contact.prenom" required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input id="lastname" type="text" class="form-control" ng-model= "contact.nom" required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" ng-model= "contact.email" required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="subject">Subject</label>
                    <input id="subject" type="text" class="form-control" ng-model= "contact.objet" required>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" class="form-control" ng-model= "contact.message" required></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-primary" ng-click="envoyerMessage(contact)" ng-disabled="contactForm.$invalid"><i class="fa fa-envelope-o"></i> Send message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <div id="map"></div>
    
